<div class="page-heading">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-centre">
					<h1 class="title"><span>ABOUT US</span></h1>
					<p>We create Your mind.</p>
					<div class="breadcrumb"></div>
				</div>
			</div>
		</div>
	</div><!-- End Breadcrumb -->
	<!-- START ABOUT US -->
	<section class="home-main-contant-style bg-white">
		<div class="container">
		<div class="new-setion-for-styling">
			<div class="row">
			<div class="col-md-4 background-banner-img"><img alt="" class="img-responsive" src="about-section-2.png"></div>
				<div class="col-md-8 banner-dat">
					<p>Etraffic Webexpert is a web development company addressing the requirements of clients across the usa, australia, europe , asia and other countries.We are one of the leading website design & development company in YamunaNagar and are a group of 10 web specialists and designers prepared to learn and actualise new and best things in web development.</p><br>
					<p class="mb15">we are eligible to provide good services to our clients remaining to our years of experience in website design and web development.We provide time bound, cost effective and value added services for technology innovative business solutions that require specialized domain expertise. We also provide responsive website designing.</p>
					<p>So, if you are looking for professional web designers or expert developers and reliable development company then Etraffic Webexpert can help you in these areas.As we provide you services of expert web developers, content writers, web designers and other highly qualified professionals in most of the popular areas.</p>
				</div>
				
			</div>
		</div>
	</section>
	<section class="home-main-contant-styl bg-white">
		<div class="container">
		<div class="new-setion-for-styling">
			<div class="row">
			
				<div class="col-md-8 banner-data">
					<p>over 8 years of working experience and as yet working for another person? two folks discussing over some tea!. lets begin our own organization together they thought. well it has been 3/4 years from that point forward and none of them has thought back. They did it! they are doing it! furthermore, they will proceed.</p><br>
					<p class="mb15">Etraffic WebExpert that is the thing that they call themselves. A company that started with just 2 members is a team of 10 members now! Each member is not just a experience holder but rather a specialist in his/her field. Our motto is "We Create Your Mind" we really do that. we can cater to all you web site needs. we don't just implement new ideas we renovate old ideas too.</p>
					<p>Basic web services are not enough to differentiate any web development company in today's competitive environment. Etraffic Webexpert is full service web development company that has executed many projects.</p>
				</div>
				<div class="col-md-4 background-banner-img"><img alt="" class="img-responsive" src="about-section-1.png"></div>
			</div>
			
		</div>
	</section><!-- END ABOUT US -->
	<!--START FEATURES SECTION-->
	<div class="about-page-features bg-white">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="our-mission-feature-box">
						<i class="fas fa-heartbeat"></i>
						<h3>our</h3>
						<h1>mission</h1>
						<p>Our Mission is to make our<br>
						clients satisfied about all there<br>
						requirements and make there<br>
						bussiness much more profitable.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="our-mission-feature-box">
						<i aria-hidden="true" class="fa fa-magic"></i>
						<h3>our</h3>
						<h1>vision</h1>
						<p>We are always open for new<br>
						kind of work which will give us<br>
						new experience. We have<br>
						aninnovative mind.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="our-mission-feature-box">
						<i aria-hidden="true" class="fa fa-code"></i>
						<h3>our</h3>
						<h1>values</h1>
						<p>Every client is satisfied with us.<br>
						because we always come upon our<br>
						words. We always make our<br>
						commitments fulfill.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="our-mission-feature-box">
						<i class="fas fa-paper-plane"></i>
						<h3>24/7</h3>
						<h1>support</h1>
						<p>We are always available for our<br>
						clients. they are free to call<br>
						us for any query. We will not<br>
						dissapoint our client at any stage.</p>
					</div>
				</div>
			</div>
		</div><!--end of container-->
	</div>