	<!-- Start Breadcrumb -->
  <div class="bigcommerce-page-heading">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="shopify-title"><span>Build your online store with BigCommerce</span></h1>
        </div>
      </div>
    </div>
  </div><!-- End Breadcrumb -->
  <!--Start why choose wordpress-->
<div class="choosing-wordpress bg-white">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="selecting-wordpress selection-bigcommerce">
<h2>28%</h2>
<h1>Annual Growth</h1>
<p>According to research by Ipsos, BigCommerce merchants grow 28% year over year, nearly 2x the industry average.</p>
</div>
</div>
<div class="col-md-4">
<div class="selecting-wordpress selection-bigcommerce">
<h2>99.99%</h2>
<h1>Average Uptime</h1>
<p>Your store is always open for business thanks to one of the best uptimes in the industry, including 100% availability during Cyber Week.</p>
</div>
</div>
<div class="col-md-4">
<div class="selecting-wordpress selection-bigcommerce">
<h2>1/4</h2>
<h1>The Cost</h1>
<p>BigCommerce is a quarter of the cost of on-premise solutions like Magento, with no hosting, maintenance or update expenses</p>
</div>
</div>
</div>
</div>
</div>
<!-- End Why choose wordpress-->
<style>
.selecting-wordpress h2{
	color: #0087be;
    font-size: 60px;
    padding: 10px 0 0 0;
}

</style>