
            <!-- START SLIDER -->
            <section class="clearfix">
                <div id="mega-slider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#mega-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#mega-slider" data-slide-to="1"></li>
                        <li data-target="#mega-slider" data-slide-to="2"></li>
                        <li data-target="#mega-slider" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active beactive">
                            <img src="slide1.jpg" alt="..." width="1349" height="632">
                            <div class="carousel-caption">
                                
                              
                            </div>
                        </div>
                        <div class="item">
                            <img src="slide2.jpg" alt="..." width="1349" height="632">
                            <div class="carousel-caption">
                              
                                
                            </div>
                        </div>
                        <div class="item">
                            <img src="slide3.jpg" alt="..." width="1349" height="632">
                            <div class="carousel-caption">
                              
                            </div>
                        </div>
                        <div class="item">
                            <img src="slide4.jpg" alt="..." width="1349" height="632">
                            <div class="carousel-caption">
                              
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#mega-slider" role="button" data-slide="prev">
                    </a>
                    <a class="right carousel-control" href="#mega-slider" role="button" data-slide="next">
                    </a>
                </div>
            </section>
            <!-- END SLIDER -->

             <!--START SERVICE-->
            <section class="home-main-contant-style bg-gray">
                <div class="cd-home-title">
                    <h2>OUR SERVICE</h2>
                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="service-item mb30">
                                <div class="icon">
                                    <i class="lnr lnr-laptop"></i>
                                </div>
                                <div class="service-desc">
                                    <h5>Website design</h5>
                                    <p>Whether you are starting from scratch or you need to redesign your current web site, we will provide a clean, professional design to ensure attention getting results. Each of our designs is unique and crafted for the purpose of setting you apart from your competition.</p>
                                </div>
                            </div>
                        </div>
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="service-item mb30">
                                <div class="icon">
                                    <i class="lnr lnr-earth"></i>
                                </div>
                                <div class="service-desc">
                                    <h5>web development</h5>
                                    <p>our web experts are experienced and work hard on every project. we like to deliver a quality product to our customers. we create websites that are speed tested/optimised and timeless. we not only create new websites for business but also expert in renovating already existing sites to provide new like to your business.</p>
                                </div>
                            </div>
                        </div>
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="service-item mb30">
                                <div class="icon">
                                   <i class="lnr lnr-cart" ></i>
                                </div>
                                <div class="service-desc">
                                    <h5>E-Commerce Solutions</h5>
                                    <p>With our expertise in E-commerce Development, we help you take your business online.We create websites that are user-friendly for you and your customers.
                                we help you put your business online so it can grow globally.our eCommerce solutions help to give a new life to your business.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="service-item mb30">
                                <div class="icon">
                                 <i class="lnr lnr-smartphone" ></i>                                </div>
                                <div class="service-desc">
                                    <h5>Mobile app development</h5>
                                    <p>We create and also recreate mobile apps.we create interactive apps that will cater to every need of your business.Apps that are also tablet friendly.
                                    we have experienced personnel that will deliver to you excellent services for lowest prices possible.  </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="service-item">
                                <div class="icon">
                                   <i class="lnr lnr-store"></i>
                                </div>
                                <div class="service-desc">
                                    <h5>SEO Services</h5>
                                    <p>
                                    We specialize in boosting search rankings, and expanding leads and sales for large and small businesses. We adopt an individualized approach to each business because one size does not fit all with online marketing. Whatever your business needs are, we will work closely with you to determine the strategies that lead to real, online success.
                                    </p>
                                </div>
                            </div>
                        </div>
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="service-item">
                                <div class="icon">
                                    <i class="lnr lnr-layers"></i>
                                </div>
                                <div class="service-desc">
                                    <h5>Virtual assistant</h5>
                                    <p>our experts provide you with virtual
                                        assistance whenever you required and they charge when they actually working on your tasks.If you don't have the resources or the time to create and upload the content on your website - give us the details and request a proposal.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="home-main-contant-style">
                <div class="container">
                    <div class="row">
                        <div class="why-we-section-middle">
                        <div class="col-md-6 why-choose-img">
                            <div class="headline-left mb30">
                                <h2 class="headline-brd">what we are what we do</h2>
                                <p>We have an efficient group who have all the demonstrated capacities to make your perplexing business agreeable by making arrangements of all prerequisites which you have in your brain.</p>
                            </div>
                    <ul class="lists-item mb30">
                    <li><i class="fa fa-check"></i>Shopify, BigCommerce, Squarespace, Neto, Wix. </li>
                    <li><i class="fa fa-check"></i>Magento, Prestashop, Joomla, Wordpress.</li>
                    <li><i class="fa fa-check"></i>Laravel, YII, Codeigniter, Cakephp.</li>
                    <li><i class="fa fa-check"></i>Logo Design, Graphic Design, Responsive Design.</li>
                    <li><i class="fa fa-check"></i>PSD to HTML, PSD to Shopify, PSD to Wordpress. </li>
                    <li><i class="fa fa-check"></i>Landing Pages, Email Templates, Parallax Design.</li>
                    <li><i class="fa fa-check"></i>Shopify Apps, Ruby on rails, Python, Django.</li>
                    <li><i class="fa fa-check"></i>Angular Js, Node Js, React Js, Vue Js , Mean Js.</li>
                    <li><i class="fa fa-check"></i>Web Apps, Ionic 2, Hybrid Apps.</li> 
                    </ul>
                            <a class="btn-custom btn-small" href="about">Learn More</a>
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" src="what-we-do-bnners.jpg" alt="">
                        </div>
                    </div>
                        
                    </div>
                </div>
            </section>
            <!--END WHY CHOOSE US-->       


            <!--START COUNTER-->
            <section>
                <div class="counter-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="counter-item text-center">
                                    <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                                    <h1 class="secondary-color count">200</h1>
                                    <h4>Clients Worked With</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="counter-item text-center">
                                    <i class="fa fa-cubes fa-3x" aria-hidden="true"></i>
                                    <h1 class="secondary-color count">400</h1>
                                    <h4>Completed Projects</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="counter-item text-center">
                                    <i class="fa fa-gift fa-3x" aria-hidden="true"></i>
                                    <h1 class="secondary-color count">100</h1>
                                    <h4>Bonuses as Gifts</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="counter-item text-center">
                                    <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                                    <h1 class="secondary-color count">150</h1>
                                    <h4>Ecommerce Stores</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--END COUNTER-->       

            <!--START PROGRESS &  ACCORDION-->
            <section class="home-main-contant-style bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3 class="progressbar-title">Shopify</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 90%; background: #1C3665;">
                                    <span class="progress-icon fa fa-check" style="border-color:#1C3665; color:#1C3665;"></span>
                                    <div class="progress-value">90%</div>
                                </div>
                            </div>

                            <h3 class="progressbar-title">BigCommerce</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 85%; background: #1C3665;">
                                <span class="progress-icon fa fa-check" style="border-color:#1C3665; color:#1C3665;"></span>
                                <div class="progress-value">85%</div>
                            </div>
                            </div>
                            
                            <h3 class="progressbar-title">Wordpress</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 92%; background: #1C3665;">
                                    <span class="progress-icon fa fa-check" style="border-color:#1C3665; color:#1C3665;"></span>
                                    <div class="progress-value">92%</div>
                                </div>
                            </div>

     

                            <h3 class="progressbar-title">PHP Frameworks/CMS</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 95%; background: #1C3665;">
                                    <span class="progress-icon fa fa-check" style="border-color:#1C3665; color:#1C3665;"></span>
                                    <div class="progress-value">95%</div>
                                </div>
                            </div>

                            <h3 class="progressbar-title">HTML5, CSS3, Jquery</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%; background: #1C3665;">
                                    <span class="progress-icon fa fa-check" style="border-color:#1C3665; color:#1C3665;"></span>
                                    <div class="progress-value">100%</div>
                                </div>
                            </div>
                            <h3 class="progressbar-title">Photoshop/Illustrator</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 95%; background: #1C3665;">
                                    <span class="progress-icon fa fa-check" style="border-color:#1C3665; color:#1C3665;"></span>
                                    <div class="progress-value">95%</div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          What does your project cost?                                             
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
Our prices rely upon many factors. To get an improved idea of the expense of the thing you need <a href="request-quote.php" class="contact-to contact-word-link-request">contact us</a>. We'll ask a few pre-determined questions about assembling your project, what features and interactivity you will need, who will cope with content development, Maybe the project urgent? Following this short discussion, we ought to have the ability to offer you a ballpark number. If you are still interested, we'll be pleased to develop a complete proposal that describes the range, process, and costs.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How long does it usually take?                                            
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                             After we have all this content (text and images) and specs, it will take 1-2 weeks for all of us to create and create a typical, small level website. Following the initial set up which is usually completed in the 1st week, there are specific rounds of revisions which further take the time. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Why should you hire Etraffic Webexpert?
                                           
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                           We began our business in 2013. we work on the latest technology with latest features.we are a team of versatile members. we have members with experience of more than 8 years of experience in different field which practically means we have seen it all in technology.  We have worked on different platforms are also familiar with the old and new ways of solving a problem.  we trust that our solid portfolio and our strong notoriety for delivering quality work on time and on spending plan are our best deals apparatuses. We give a rundown of references with every proposition.
                    </div>
                </div>
            </div>
            
               <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    What are our payment terms?
                                           
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                           That depends upon your requirement! What type of skills do you need? as you see we offer a range of services from data entry to website development, so we do not fix prices. You can come up with your project and we can give you an estimate. We are not like those other web development agencies who will charge a fixed minimum. We read your requirement, we note down the skills required, and then we give you some ballpark figure to think about. If you have doubts we are always open for discussions. We always charge reasonable and yes, if you want we can reason it!.
                    </div>
                </div>
            </div>
            
                           <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Are your sites mobile-friendly?
                                           
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                           The web is being accessed more and more on mobile devices. Designing your websites to be mobile friendly ensures that your pages perform well on all devices.If you don't know if your website is mobile-friendly, take the <a href="request-quote.php">Contact us</a> now! 
                    </div>
                </div>
            </div>
            
                        </div>
                    </div>
                </div>
            </section>         
            <!--START PROGRESS &  ACCORDION-->

              <!-- slider-testimonials -->
            <div class="cbp-l-slider-testimonials-wrap">
                <div style="max-width: 980px; margin: 0 auto;">
                    <div id="js-grid-slider-testimonials" class="cbp cbp-slider-edge">
                        <div class="cbp-item graphic">
                            <div class="cbp-l-grid-slider-testimonials-body">
                                They are like magic. I draw out the design and/or provide detailed instructions and it gets done. I feel good having this Team on my side to continue building on my shopify webstore. Extremely skilled, great communication, and adherence to deadlines. Highly recommend. AAA+++
                            </div>
                            <div class="cbp-l-grid-slider-testimonials-footer">
                                <span>
                            
                                <img src="Joel.jpg" alt=""/>  
                                <span>Joel Bebo
                                <em>Boco Design Founder</em>
                                <span class="client-stars">
                                    <ul>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star fa-2x"></i></li>
                                       
                                    </ul>
                                </span>
                                </span>
                                
                                </span>
                            </div>
                        </div>
                        <div class="cbp-item web-design logos">
                            <div class="cbp-l-grid-slider-testimonials-body">
                               Quick and thorough diagnostic of a plugin load error helped troubleshoot and eventually lead the plugin developer releasing new version that corrected issue, highly recommend this team for efficient and competent web development services
                            </div>
                            <div class="cbp-l-grid-slider-testimonials-footer">
                               <span>
                                <img src="David.jpg" alt=""/>
                                <span>David Broderick
                                <em>Serial Entrepreneur & Creative Business Developer</em><span class="client-stars">
                                    <ul>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                    </ul>
                                </span></span>
                                
                               </span>
                            </div>
                        </div>
                        <div class="cbp-item graphic logos">
                            <div class="cbp-l-grid-slider-testimonials-body">
                                This is the 3rd/4th time we've worked with Etrafficwebexpert and again they delivered quickly,to specification,and with good communication.
                            </div>
                            <div class="cbp-l-grid-slider-testimonials-footer">
                               <span>
                                <img src="Jason.jpg" alt=""/>
                                <span>Jason Adams Jones
                                <em>Key Account Manager at Creative jaz</em><span class="client-stars">
                                    <ul>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fas fa-star-half-alt fa-2x"></i></li>
                                        <li><i class="far fa-star fa-2x"></i></li>
                                      
                                    </ul>
                                </span></span>
                                 
                                </span>
                            </div>
                        </div>
                        <div class="cbp-item graphic logos">
                        <div class="cbp-l-grid-slider-testimonials-body">
                            Really helpful and easy to work with. Completed everything i asked him to in the given deadline. Would def recommend him to anyone using shopify or any other web design scenario. 
                        </div>
                        <div class="cbp-l-grid-slider-testimonials-footer">
                            <span>
                            <img src="Sahil.jpg" alt=""/>
                            
                            <span>Sahil Rattan
                            <em>Businesses Entrepreneur & Sales Manager</em><span class="client-stars">
                                    <ul>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                    </ul>
                                </span></span>
                            
                            
                            </span>
                        </div>
                        </div>
                        <div class="cbp-item graphic logos">
                        <div class="cbp-l-grid-slider-testimonials-body">
                            Great Wordpress problem solver.. Fixed my problem FAST and went above and beyond the project description to make sure I was happy with the result... Thank you!
                        </div>
                        <div class="cbp-l-grid-slider-testimonials-footer">
                           <span>
                            <img src="lars.jpg" alt=""/>
                            <span>Lars Rissmann
                            <em>Sales at Lebara</em><span class="client-stars">
                                    <ul>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star fa-2x" aria-hidden="true"></i></li>
                                        <li><i class="fas fa-star-half-alt fa-2x"></i></li>
                                    </ul>
                                </span></span>
                            </span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider-testimonials -->

            <!--START BLOG-->

            <!-- END BLOG --> 