 <!-- HOME PORTFOLIO -->
            <section class="home-main-contant-style bg-gray">
                <div class="container">
                    <div class="cd-home-title">
                        <h2>Our Awesome Projects</h2>
                        <p>Here’s what’s been keeping us busy. Some of our work. Something we have enjoyed creating hope you will too!! </p>
                    </div>
                    <div id="js-filters-masonry" class="cbp-l-filters-alignCenter">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                            All
                         <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".Shopify" class="cbp-filter-item">
                            Shopify <div class="cbp-filter-counter"></div>
                        </div>
						<div data-filter=".Wordpress" class="cbp-filter-item">
                            Wordpress <div class="cbp-filter-counter"></div>
                        </div>
						<div data-filter=".php" class="cbp-filter-item">
                            php <div class="cbp-filter-counter"></div>
                        </div>
                            <div data-filter=".Prestashop" class="cbp-filter-item">
                            Prestashop  <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".Joomla" class="cbp-filter-item">
                            Joomla <div class="cbp-filter-counter"></div>
                        </div>

                    </div>
                    <div id="js-grid-masonry" class="cbp">
                        <div class="cbp-item Shopify">
                            <a href="portfolio/shopify-site-1-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Calmtheham">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="portfolio/shopify-site-1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">The Leroys</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item Shopify">
                            <a href="portfolio/shopify-site-2-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Yum Yum Baby">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="portfolio/shopify-site-2.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Whitespindle</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item Shopify">
                            <a href="portfolio/shopify-site-3-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Petalsontheplaza">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="shopify-site-3.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">`
                                            <div class="cbp-l-caption-title">Vividoll</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      <div class="cbp-item Shopify">
                            <a href="portfolio/shopify-site-4-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Vaultcosmetic">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="shopify-site-4.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Beauty Kind Gives</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                                 <div class="cbp-item Shopify">
                            <a href="shopify-site-5-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Vaultcosmetic">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="shopify-site-5.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Beauty Kind Gives</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                  

                         <div class="cbp-item Wordpress">
                            <a href="wordpress-site-1-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Skishaggys">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="wordpress-site-1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">The District Bangkok</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item Wordpress">
                            <a href="wordpress-site-2-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Furnitureintherawtx">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="wordpress-site-2.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Mabis</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item Wordpress">
                            <a href="wordpress-site-3-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Jkfcpaco">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="wordpress-site-3.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Havent's Met</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                                                 <div class="cbp-item Wordpress">
                <a href="wordpress-site-4-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Latasha love">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="wordpress-site-4.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Earth Easy</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> 

                                                                         <div class="cbp-item Wordpress">
                <a href="wordpress-site-5-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Latasha love">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="wordpress-site-5.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Earth Easy</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> 
             <!--                                    <div class="cbp-item Bigcommerce ">
                            <a href="img/portfolio/cow-1.jpg" class="cbp-caption cbp-lightbox" data-title="eCowhides">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/portfolio/cow-1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">eCowhides</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                         <div class="cbp-item Bigcommerce">
                            <a href="img/portfolio/wire.jpg" class="cbp-caption cbp-lightbox" data-title="ONGAUGE wire and cables">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="img/portfolio/wire.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">ONGAUGE wire and cables</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->

                               
                         <div class="cbp-item php">
                            <a href="php-site-1-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Upper Limits">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="php-site-1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Leboeuf Group</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item php">
                            <a href="php-site-2-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Upper Limits">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="php-site-2.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Crepes</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item php">
                            <a href="php-site-3-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Upper Limits">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="php-site-3.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Harinam Engineers</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cbp-item php">
                            <a href="php-site-4-mb.jpg" class="cbp-caption cbp-lightbox" data-title="Upper Limits">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="php-site-4.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">kew India</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                                <div class="cbp-item Prestashop ">
                            <a href="jim.jpg" class="cbp-caption cbp-lightbox" data-title="Personal trainer">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="jim.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Personal trainer</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                         <div class="cbp-item Prestashop">
                            <a href="office.jpg" class="cbp-caption cbp-lightbox" data-title="Marketing works">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="office.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Marketing works</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item Prestashop">
                            <a href="toy.jpg" class="cbp-caption cbp-lightbox" data-title="Dden Unikke">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="toy.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Dden Unikke</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item Prestashop">
                            <a href="london.jpg" class="cbp-caption cbp-lightbox" data-title="London Works">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="london.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">London Works</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                                                <div class="cbp-item Prestashop">
                <a href="wood.jpg" class="cbp-caption cbp-lightbox" data-title="Woodenworks">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="wood.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">SASDORS Woodenworks</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                                                    <div class="cbp-item Joomla  ">
                            <a href="bed.jpg" class="cbp-caption cbp-lightbox" data-title="The DORM Shop">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="bed.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">The DORM Shop</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                         <div class="cbp-item Joomla ">
                            <a href="book.jpg" class="cbp-caption cbp-lightbox" data-title="Pediatric Recertification Review">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="book.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Pediatric Recertification Review</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item Joomla ">
                            <a href="watch.jpg" class="cbp-caption cbp-lightbox" data-title="The Time SHOPPERS">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="watch.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">The Time SHOPPERS</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="cbp-item Joomla ">
                            <a href="ship.jpg" class="cbp-caption cbp-lightbox" data-title="NAVNAUTIK">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="ship.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">NAVNAUTIK</div>
                                            <div class="cbp-l-caption-desc"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
            <!-- END PORTFOLIO -->