  <div class="shoify-page-heading">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="shopify-title"><span>BUILD E-COMMERCE STORE USING SHOPIFY</span></h1>
        </div>
      </div>
    </div>
  </div><!-- End Breadcrumb -->
  <!--Start shopify started with us-->
  <div class="shopify-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>The best solution for your ecommerce project.</h1>
          <p>Shopify has everything your clients need to sell online, in store, and on the go.</p>
        </div>
      </div>
    </div>
  </div><!--End shopify started with us-->
  <!--Start Shopify functionality-->
  <div class="Shopify-functionality bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="functionality-1">
            <h1>New Store Setup & Configuration</h1><i aria-hidden="true" class="fa fa-shopping-cart"></i>
            <p>We help launch your store and assist with basic configuration.</p><a href="request-quote.php">Get started</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="functionality-1">
            <h1>Changes to Your Existing Shopify Site</h1><i aria-hidden="true" class="fa fa-gift"></i>
            <p>We make changes or add new functionality to your site.</p><a href="request-quote.php">Get started</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="functionality-1">
            <h1>Custom Theme & Advance Store Setup</h1><i aria-hidden="true" class="fa fa-mobile"></i>
            <p>We create a custom, mobile-responsive theme just for you!</p><a href="request-quote.php">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </div><!--End Shopify functionality-->
  
  <!-- Start create your own store section -->
  <div class="shopify-create-features-section">
    <div class="create-features-bg-black">
    <div class="container">
      <div class="col-md-6">
      <div class="row">
        <div class="create-own-shopify">
          <h2>create our own</h2>
            <h1>online store</h1>
            <p>in 60 seconds<i aria-hidden="true" class="fa fa-clock-o"></i></p><a href="https://www.shopify.com/?ref=etraffic" target="_blank">get started for free</a> <img src="shopify-accepts-bitcoin-02.png"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="shopify-get-contact-page">
            <p>Shopify is one of the biggest and most successful eCommerce platforms in the world – here’s why.</p>
            <ul>
              <li><i aria-hidden="true" class="fa fa-check"></i> Quick & easy to set up & use</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> No tech worries</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> Secure & reliable</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> 24/7 customer support</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> Mobile ready</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> Customisable</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> There’s an app for that</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> SEO & Marketing tools</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> Abandoned cart recovery</li>
              <li><i aria-hidden="true" class="fa fa-check"></i> Own payment gateway</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
    </div>
  </div>
  <!-- End create your own store section -->
  <style>
    .shopify-create-features-section::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    }
    .shopify-create-features-section{
    background: rgba(0, 0, 0, 0) url("../create-features-bg-image.jpg") no-repeat center center/cover fixed;
    text-align: center;
    padding: 13px 0px;
    position: relative;
    }
    .create-features-bg-black{
          z-index: 1;
    position: relative;
    }
    .create-own-shopify h2{
color: #fff;
font-size: 30px;
text-transform: capitalize;

}
    .create-own-shopify h1{
color: #95C049;
font-size: 40px;
font-weight: 600;

}
.create-own-shopify p{
color: #fff;
font-size: 30px;
margin-bottom: 25px;

}
.create-own-shopify i{
color: #95C049;
font-size: 35px;
margin-left: 11px;
margin-top: 10px;

}
.create-own-shopify a{
color: #95C049;
border: 2px solid #95C049;
padding: 15px;
font-size: 15px;
text-transform: uppercase;
font-weight: 600;

}
.create-own-shopify a:hover{
color: #fff;
border: 2px solid #95C049;
background-color: #95C049;

}
.create-own-shopify img{
display: inline-block;
margin-top: 34px;

}
.shopify-get-contact-page i{
  color: #95C049;
  margin-right: 10px;
}
  </style>
