	<!--
	<section class="clearfix">
		<div class="carousel slide" data-ride="carousel" id="mega-slider">
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#mega-slider"></li>
				<li data-slide-to="1" data-target="#mega-slider"></li>
				<li data-slide-to="2" data-target="#mega-slider"></li>
				<li data-slide-to="3" data-target="#mega-slider"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active beactive">
					<img alt="..." src="img/banner/banner-training-new.jpg">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img alt="..." src="img/banner/banner-training-2-new.jpg">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img alt="..." src="img/banner/banner-training-3-new.jpg">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img alt="..." src="img/banner/banner-training-4-new.jpg">
					<div class="carousel-caption"></div>
				</div>
			</div>
			<a class="left carousel-control" data-slide="prev" href="#mega-slider" role="button"></a> <a class="right carousel-control" data-slide="next" href="#mega-slider" role="button"></a>
		</div>
	</section>
	-->
	<section class="clearfix promotion_area">
	<div class="counters-blocks">
	<div class="container">
	<div class="hurry-up-area">
	<h2 class="hurry-up">Hurry up !! Admission open !!</h2>
		<h1 class="students-discount"><span>20%</span> DISCOUNT FOR FIRST <span>10</span> STUDENTS</h1>
	</div>
	<p>If you are interested in doing <b>PHP</b> and <b>WEB & GRAPHICS</b> designing course then get in touch with us, you can directly email us at <a href="mailto:ewebexpert.training@gmail.com">ewebexpert.training@gmail.com</a> or you can reach us at <br>Office no : <a href="tel:01732232396">1732-232396</a> , Mob no : <a href="tel:+917206927611">+91-7206927611</a>.</p>
	</div>		
	</div>
	</section>

	<!--Start new tab section-->
	<div class="bg-white">
		<div class="container">
			<ul class="nav nav-pills nav-fill">
				<li class="active">
					<a data-toggle="tab" href="#home">DESINGING</a>
				</li>
				<li>
					<a data-toggle="tab" href="#menu1">PHP</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="home">
					<div class="designing-tab">
						<div class="col-md-4">
							<div class="row">
								<a href="#"><img src="courses-6.png"></a>
							</div>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="designing-tab-content">
									<p>Designing is evergreen technologie which will be present our information to the whole web world.We provide professional designing training in Yamunanagar provides end to end support. With our designing training you can start your career as a web and graphic designer.<br>
									Our designing course content is created by well experienced designers to match the present standards of web technologies in our program. we teach all the aspects of layout designing, coding and testing. We try our best to make you a professional designer.<br>
									This course provides a key introduction to essential web development languages. Your first step into web pages creation and maintenance. Course content will focus in HTML, CSS and JavaScript in the context of web development practices.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="menu1">
					<div class="php-tab">
						<div class="col-md-4">
							<div class="row">
								<a href="#"><img src="php.png"></a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="php-tab-content">
									<p>In the current times, PHP is the most popular and widely used scripting language for web development. PHP language, due to its simplicity made it very popular among web & web based applications developers. You can learn just about everything with reference to PHP & MySQL with us in no time.We at Etraffic webexpert, provide you the Best PHP training in Yamunanagar.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="why-choose-php-tab">
									<h1>why choose php?</h1>
									<ol>
										<li><span>PHP is open source.</span></li>
										<li><span>PHP works on defferent platforms like Linux, UNIX, and Windows, etc.</span></li>
										<li><span>PHP is easy to learn and understand even for beginners.</span></li>
										<li><span>It reduces our time to develop even large websites.</span></li>
									</ol>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--end of tab content-->
		</div><!--end of container-->
	</div><!--end of bg-color-->
	<!--Close new tab section-->

	<!--Start a section of html and coaching and prices-->
	<div class="prices-and-coaching bg-white">
		<div class="wrapper">
			<div class="container">
				<div class="price-and-coaching-section">
					<div class="col-md-4">
						<div class="for-starter">
							<h1>basic<br></h1>
							<p>45 days</p>
							<ul>
								<li>html</li>
								<li>css</li>
								<li>photoshop</li>
							</ul>
							<h2>Rs. 8000</h2>
						</div>
					</div>
					<div class="col-md-4">
						<div class="for-starter transform-design">
							<h1>standard<br></h1>
							<p>3 months</p>
							<ul>
								<li>html + css</li>
								<li>photoshop</li>
								<li>javascript + jquery</li>
							</ul>
							<h2>Rs. 10000</h2>
						</div>
					</div>
					<div class="col-md-4">
						<div class="for-starter">
							<h1>pro<br></h1>
							<p>6 months</p>
							<ul>
								<li>javascript + jquery</li>
								<li>php</li>
								<li>wordpress</li>
							</ul>
							<h2>Rs. 15000</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--Close a section of html and coaching and prices-->
	<!--Start a new section of Training features-->
		<div class="wrapper">
			<div class="container">
			<div class="training-features-and-courier">
				<div class="col-md-4">
				<div class="header-training-features">
					<i class="fa fa-cubes" aria-hidden="true"></i>
					</div>
					<div class="footer-training-courier">
						<h1>Our Training Features</h1>
						<p> We have established a separate training pool for students, that helps them in getting real knowledge of work. Our courses offer in-depth coverage of specific and focused skills. With us you will surely reach the new levels of success. so come with us, we'll provide you with best experience of training.</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="header-training-features">
					<i class="fa fa-book" aria-hidden="true"></i>
				</div>
					<div class="footer-training-courier">
						<h1>give light to your career</h1>
						<p> We have driven out with idea to bring out something different, we started our industrial training courses in Yamuna nagar .Our Learning courses focus on blending high-quality information with a delivery experience. joining with us is not only a training.</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="header-training-features">
					<i class="fa fa-graduation-cap" aria-hidden="true"></i>
					</div>
					<div class="footer-training-courier">
						<h1>We share our experience</h1>
						<p>We have experienced faculty for PHP and Designing course. Our every module will take you one step ahead. Practical knowledge is more important than theoretical knowledge and our trainers are well experienced with providing practical knowledge to the students.</p>
				</div>
			</div>
		</div>
	</div>
	<!--Close a new section of Training features-->


	<!-- Start a Web designing contact us banner-->
	<div class="contact-page-heading bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <i class="fab fa-facebook-square"></i>
        <h1>Facebook</h1><a target="_blank" href="https://www.facebook.com/eTrafficWeb/">Etraffic Webexpert</a>
                </div>
                <div class="col-sm-3">
                    <i class="fas fa-map-marker-alt"></i>
                    <h1>Address</h1>
                    <p>SCF 8,Second Floor,Sarojini Colony.<br>Oppt post head office , Near Bus Stand.<br>
Yamuna Nagar,Haryana (135001)</p>
                    <p></p>
                </div>
                <div class="col-sm-3">
                    <i class="fa fa-phone"></i>
                    <h1>Phone</h1>
                    Office no : <a href="tel:01732232396">1732-232396</a><br>
                    Mob no : <a href="tel:+917206927611">+91-7206927611</a>
                </div>
                <div class="col-sm-3">
                    <i class="fa fa-envelope"></i>
                    <h1>Email</h1><a href="mailto:ewebexpert.training@gmail.com">ewebexpert.training@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
	<!-- Close a Web designing contact us banner-->
